<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
	<title>Report</title>
</head>
<body>
	<h1><span th:text="${report.name}" /></h1>
	<form action="#" th:action="@{/reports/} + ${report.id}" th:object="${report}" th:method="post">
		<p>Id: <input type="text" th:field="*{id}" readonly/></p>
		<p>Author: <input type="text" th:field="*{author}" readonly/></p>
		<p>ReportName: <input type="text" th:field="*{name}" /></p>
		<p>text: <input type="text" th:field="*{text}" /></p>
		<p><input type="submit" value="Update"/></p>
	</form>
	<form th:object="${report}" th:action="@{/reports/} + ${report.id}" th:method="delete">
		<input type="submit" value="Delete"/>
	</form>

	<form action="http://localhost:8080/reports">
		<input type="submit" value="Back to overview"/>
	</form>
</body>
</html>