<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Reports</title>
</head>
<body>
<table>
	<thead>
	<tr>
		<th>Reports</th>
	</tr>
	</thead>
	<tbody>
	<tr th:if="${reports.empty}">
		<td>No reports available.</td>
	</tr>
	<tr th:each="report : ${reports}">
		<!--		<td><span th:text="${recipe.name}" /></td>-->
		<td><a th:href="@{'http://localhost:8080/reports/' + ${report.id}}"><span th:text="${report.name}" /></a></td>
	</tr>
	</tbody>
</table>
</body>
</html>